* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	display: block;
}
ul,
li {
	list-style: none;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

html,
body {
	min-width: 450px;
	font-family: "Microsoft YaHei", "Arial";
	color: #272727;
	font-size: 12px;
	background-color: #ffffff;
}
html{overflow-x:hidden;}
/*gundong*/
body::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

body::-webkit-scrollbar-track {
	border-radius: 0px;
	background: #ff2a00;
}

body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #46cac8;
}
/* 通配 */
.base>span {
	display: inline-block;
	width: 93px;
	height: 4px;
	background: #46cacb;
}

.base h6 {
	font-weight: normal;
	font-size: 22px;
	line-height: 1.5em;
	color: #868f9a;
	text-transform: uppercase;
	margin-top: 0.8vw;
}

.base h3 {
	font-size: 38px;
	color: #393939;
	line-height: 1.5em;
	letter-spacing: 0.6px;
}

.base h3>a {
	color: #393939;
}

.base p,
.base p a span {
	font-size: 15px;
	line-height: 1.5em;
	color: #46cac8;
	letter-spacing: 0.6px;
	transition-duration: .5s;
	margin-top: 1.6vw;
	overflow: hidden;
}

.base p a {
	display: flex;
}

.base p a span {
	margin-top: 0;
}

.base p a span:hover {
	color: #FF2A00;
}

.base p a i {
	display: block;
	width: 17px;
	height: 17px;
	margin: 3px 0 0 8px;
}

/* 关于我们 */
/* .img{
	width: 100%;
} */
.img img {
	display: block;
	width: 100%;
	height: auto;
}

.img img:last-child {
	display: none;
}

/* 企业简历导航 */
.company_nav_container {
	width: 100%;
	background: #f3f2f2;
	overflow: hidden;
	height: 80px;
}

.company_nav_content {
	display: flex;
	justify-content: space-between;
	width: 1680px;
	margin: 0 auto;
}

.company-nav-left p,
.company-nav-right {
	display: flex;
}

.company-nav-left p {
	font-size: 14px;
	line-height: 1.5em;
	margin-top: 28px;
}

.company-nav-left p img {
	display: block;
	margin: 2px 13px 0 0;
}

.company-nav-left p a {
	font-size: 15px;
	color: #525252;
	margin-right: 7px;
}

.company-nav-right li a {
	width: 190px;
	background: #e1e0e0;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 22px;
	letter-spacing: 0.6px;
	margin-left: 10px;
	transition-duration: .5s;
}

.company-nav-right li a {
	color: #333;
}

.company-nav-right li a.cur {
	background: #FF2A00;
	color: #fff;
}

.company-nav-right li a:hover {
	background: #FF2A00;
	color: #fff;
}

@media screen and (max-width:1700px) {
	.company_nav_content {
		width: 96%;
	}
}

@media screen and (max-width:1450px) {

	/* 企业简介导航 */
	.company-nav-right li a {
		font-size: 20px;
	}
}

@media screen and (max-width:900px) {
	.img img {
		display: none;
	}

	.img img:last-child {
		display: block;
	}

	/* 企业简介导航 */
	.company_nav_container {
		background: none;
		height: auto;
	}

	.company_nav_content {
		display: block;
	}

	.company-nav-left {
		margin: 1.5% auto 2.5% auto;
	}

	.company-nav-left p {
		margin-top: 0;
	}

	.company-nav-right li {
		width: 32%;
		margin: 0 2% 0 0;
		height: 55px;
		line-height: 55px;
	}

	.company-nav-right li a {
		width: 100%;
		line-height: 55px;
		height: 55px;
	}

	/* 通配 */
	.base h6 {
		font-size: 16px;
	}

	.base h3 {
		font-size: 32px;
	}
}

@media screen and (max-width:560px) {

	/* 企业简介导航 */
	.company-nav-left {
		margin: 4% auto 5% auto;
	}

	.company-nav-left p a {
		font-size: 14px;
	}

	.company-nav-right li,
	.company-nav-right li a {
		font-size: 18px;
		height: 45px;
		line-height: 45px;
	}

	/* 通配 */
	.base>span {
		width: 10vw;
		height: 2px;
	}

	.base h6 {
		font-size: 4vw;
	}

	.base h3 {
		font-size: 6vw;
	}
}
